@{
    ViewData["Title"] = "Home Page";
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap" rel="stylesheet">
    @* <link rel="stylesheet" href="~/css/reset.css"> *@
    <link rel="stylesheet" href="~/css/index.css">
</head>
<body>
    <header class="headerContainer">
        <h1>BLOG DE VIAGENS - OITO OU OITENTA</h1>
        <img class="iconeMenu" src="~/images/svg/menu.svg">
    </header>
    <div id="sobreposição" class="sobreposição"></div>
    <nav id="menuLateral" class="menuLateral">
        <button id="fecharMenu" class="fecharMenu">X</button>
        <ul>
            <li><a href="@Url.Action("Sobre", "Home")">Sobre</a></li>
            <li><a href="@Url.Action("Destinos", "Home")">Destinos</a></li>
            <li><a href="@Url.Action("Contatos", "Home")">Contato</a></li>
        </ul>
    </nav>
    <section class="sectionContainerTitulo">
        <div>
            <h1>Melhores lugares para visitar no Brasil</h1><br><br>
            <p>Embora as famosas cidades do Rio de Janeiro e São Paulo nunca fiquem realmente livres das multidões, aqui estão alguns destinos no Brasil que tenho certeza de que você vai se apaixonar. Eles são (quase) livres de enxurradas de turistas com paus de selfie e de filas tão longas quanto um voo, especialmente se você visitá-los fora da alta temporada.</p>
        </div>
        <div>
            <img class="imagem01" src="~/images/jpg/banner.jpg">
        </div>
    </section>
    <section class="sectionContainerArtigo">
        <div>
            <img class="imagem02" src="~/images/jpg/chapadaDiamantinaBahia.jpg">
        </div>
        <div class="sectionContainerArtigoDivDireita">
            <h1>Chapada Diamantina, Bahia</h1>
            <p>É tentador visitar as praias da Bahia, mas a Chapada Diamantina oferece uma experiência totalmente diferente, repleta de cachoeiras espetaculares, grutas e trilhas deslumbrantes. Durante a entressafra, a região é ideal para quem procura uma conexão com a natureza sem as grandes multidões.</p>
            <div class="divImagens03">
                <img class="imagem03" src="~/images/jpg/Chapada001.jpg">
                <img class="imagem03" src="~/images/jpg/Chapada002.jpg">
                <img class="imagem03" src="~/images/jpg/Chapada003.jpg">
                <img class="imagem03" src="~/images/jpg/Chapada004.jpg">
            </div>
        </div>
    </section>
    <section class="sectionContainerArtigo02">
        <div>
            <h1>Bonito, Mato Grosso do Sul</h1>
            <p>Bonito é um dos melhores destinos de ecoturismo do Brasil, conhecido por suas águas cristalinas, rios e grutas. Fora da alta temporada, você pode explorar este paraíso natural com mais tranquilidade, sem a necessidade de disputar espaço com outros visitantes.</p>
        </div>
        <div>
            <img class="imagem04" src="~/images/jpg/Bonito.jpg">
        </div>
    </section>
    <section class="sectionContainerArtigo02Locais">
        <div class="divContainerArtigo02Locais">
            <h1>Lençóis Maranhenses, Maranhão</h1>
            <p>Maravilhe-se com as dunas e lagoas cristalinas dos Lençóis Maranhenses, um dos destinos mais impressionantes do Brasil. O período entre maio e setembro, após as chuvas, é o melhor para visitar, quando as lagoas estão cheias, proporcionando um espetáculo visual único.</p>
        </div>
        <div class="divContainerArtigo02Locais">
            <h1>Fernando de Noronha</h1><br><br>
            <p>Explore o arquipélago de Fernando de Noronha, um paraíso de águas cristalinas e rica biodiversidade marinha. Ideal para mergulho, a ilha oferece paisagens deslumbrantes, praias paradisíacas e uma sensação única
        </div>
        <div class="divContainerArtigo02Locais">
            <h1>Foz do Iguaçu</h1><br><br>
            <p>As Cataratas do Iguaçu são um dos destinos mais impressionantes do Brasil, com quedas d'água que deixam qualquer um sem fôlego. Além das cataratas, o Parque Nacional do Iguaçu oferece uma rica biodiversidade e atividades ao ar livre.</p>
        </div>
    </section>
    <section class="sectionContainerArtigo">
        <div>
            <img class="imagem05" src="~/images/jpg/Pantanal.jpg">
        </div>
        <div class="sectionContainerArtigoDivDireita">
            <h1>Pantanal</h1><br><br>
            <p>O Pantanal é uma das maiores e mais diversas planícies alagadas do mundo, lar de uma impressionante variedade de vida selvagem. Ideal para safáris fotográficos e observação de aves, o Pantanal é um destino imperdível para os amantes da natureza.</p>
            <div class="divImagens03">
                <img class="imagem06" src="~/images/jpg/Pantanal02.jpg">
                <img class="imagem06" src="~/images/jpg/Pantanal03.jpg">
            </div>
        </div>
    </section>
    <section class="sectionContainerArtigo03">
        <div class="divContainerArtigo03Esquerdo">
            <h1>Melhor época para visitar o Pantanal</h1>
            <p>A entressafra é a melhor época para visitar o Pantanal e testemunhar a vida selvagem em seu auge. Evite as multidões e aprecie este incrível ecossistema brasileiro com tranquilidade, em um momento ideal para observação de aves e animais.</p>
        </div>
        <div class="divContainerArtigo03Direito">
            <img class="imagem07" src="~/images/jpg/Pantanal04.jpg">
            <img class="imagem07" src="~/images/jpg/Pantanal05.jpg">
        </div>
    </section>
    @*         <section class="sectionContainerArtigo03Rodape">
    <p>Indo para Bahia? Incrível, deixe-me ajudá-lo a descobrir as belezas deste estado...</p><br><br>
    <p>Com praias paradisíacas, rica cultura afro-brasileira e cidades históricas, a Bahia oferece uma experiência inesquecível para qualquer viajante. Explore destinos como Salvador, Chapada Diamantina e as praias de Trancoso e Morro de São Paulo, e mergulhe na energia única que só a Bahia tem!</p>
    </section> *@
    @*         <section class="sectionContainerEntreEmContato">
    <h2 class="h2EntreEmContato">Entre em Contato!</h2><br><br>
    <p class="pEntreEmContato">"Queridos leitores do blog, adoraria ouvir suas experiências de viagem! Compartilhem suas aventuras e opiniões nos comentários abaixo. Vamos inspirar uns aos outros com histórias incríveis e dicas valiosas. Mal posso esperar para ler o que vocês têm a dizer! 😊🌍 #ViajarÉViver"</p><br><br>
    <form class="formEntreEmContato" action="/novoComentario" method="post">
    <input placeholder="Seu nome" name="nome" id="nome">
    <input placeholder="Seu celular" name="celular" id="celular">
    <input placeholder="Seu E-mail" name="email" id="email">
    <textarea name="comentario" id="comentario" rows="6" placeholder="Descreva suas experiências"></textarea>
    <button type="submit">Enviar Depoimento</button>
    </form>
    </section> *@
    <footer class="rodape">
        <p>Copyright &copy; 2024 - by GRUPO 005</p>
        <p>
            Anderson Santana -
            Ieda Gonçalves de Araújo -
            Josiane Espin Graciano Cavalcanti -
            Palomma Nobre Silva -
            Rafael Morais Bomfim -
            Roberval Marques Aceti -
            Rodrigo Cavalcanti Borges -
            Rodrigo Ferreira Zanoti
        </p>
    </footer>
    <script src="~/js/site.js"></script>
</body>
</html>
